# CODEOWNERS for edge-manage-docs

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# docs for CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# default owners - covers lint/config/build tooling in repo root
* @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @diwanc

# documentation content
docs/ @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @diwanc
docs/developer_guide @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @diwanc
README.md @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @diwanc

# CI files
.github/ @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @diwanc @jouillet

# shared doc config
docconf/ @achamuah @soniabha-intc @scottmbaker @hyunsun @krishnajs @Ram-srini @diwanc @jouillet
