---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Pre-Merge CI Pipeline

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches: ['main', 'release-[0-9]+.[0-9]+.*']
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  pre-checks:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: "Verify Branch Name"
        uses: open-edge-platform/orch-ci/verify-branch-name@c4b86434962d13f65fd7b16a33e9eecfd5849a64  # 0.1.56
  pre-merge-pipeline:
    permissions:
      contents: read
    needs: pre-checks
    uses: open-edge-platform/orch-ci/.github/workflows/pre-merge.yml@c4b86434962d13f65fd7b16a33e9eecfd5849a64  # 0.1.56
    with:
      run_security_scans: false
      run_version_check: true
      run_dep_version_check: false
      run_build: true
      run_lint: true
      run_test: false
      run_validate_clean_folder: false
      run_docker_build: false
      run_artifact: false
      orch_ci_repo_ref: "main"
    secrets:
      NO_AUTH_ECR_PUSH_USERNAME: ${{ secrets.NO_AUTH_ECR_PUSH_USERNAME }}
      NO_AUTH_ECR_PUSH_PASSWD: ${{ secrets.NO_AUTH_ECR_PUSH_PASSWD }}
