---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Publish Documentation
on:  # yamllint disable-line rule:truthy
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish-documentation:
    permissions:
      contents: read          # needed for actions/checkout
      pull-requests: read     # needed for gh pr list
      issues: write           # needed to post PR comment
    uses: open-edge-platform/orch-ci/.github/workflows/publish-documentation.yml@c6a01b803d3c045de1b1b2f788a47eaaefed3f07  # yamllint disable-line rule:line-length
    with:
      simple_mode: false
      branch_pattern: '^(main|release-[0-9]+\.[0-9]+.*)$'
      switch_main_to_dev: true
    secrets:
      SYS_EMF_GH_TOKEN: ${{ secrets.SYS_EMF_GH_TOKEN }}
      DOC_AWS_ACCESS_KEY_ID: ${{ secrets.DOC_AWS_ACCESS_KEY_ID }}
      DOC_AWS_SECRET_ACCESS_KEY: ${{ secrets.DOC_AWS_SECRET_ACCESS_KEY }}
